apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
  labels:
    app: {{ .Chart.Name }}
type: Opaque
data:
  POSTGRES_USER: {{ .Values.secrets.postgresUser | b64enc | quote }}
  POSTGRES_PASSWORD: {{ .Values.secrets.postgresPassword | b64enc | quote }}
  POSTGRES_DB: {{ .Values.secrets.postgresDb | b64enc | quote }}
  
  {{- if .Values.secrets.databaseUrl }}
  DATABASE_URL: {{ .Values.secrets.databaseUrl | b64enc | quote }}
  {{- else }}
  # Auto-generate connection string: postgres://user:pass@service:port/db
  DATABASE_URL: {{ printf "postgresql://%s:%s@%s-postgres-service:%g/%s?schema=public" .Values.secrets.postgresUser .Values.secrets.postgresPassword .Release.Name .Values.postgres.service.port .Values.secrets.postgresDb | b64enc | quote }}
  {{- end }}

  NEXTAUTH_SECRET: {{ .Values.secrets.nextAuthSecret | b64enc | quote }}
  NEXTAUTH_URL: {{ .Values.secrets.nextAuthUrl | b64enc | quote }}
  
  AWS_REGION: {{ .Values.secrets.aws.region | default "" | b64enc | quote }}
  AWS_SMTP_USER: {{ .Values.secrets.aws.smtpUser | default "" | b64enc | quote }}
  AWS_SMTP_PASS: {{ .Values.secrets.aws.smtpPass | default "" | b64enc | quote }}
