apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-web
  labels:
    app: {{ .Chart.Name }}
    component: web
spec:
  replicas: {{ .Values.web.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
      component: web
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
        component: web
    spec:
      initContainers:
        - name: wait-for-postgres
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "Waiting for Postgres to be ready..."
              until nc -z -v -w5 {{ .Release.Name }}-postgres-service {{ .Values.postgres.service.port }}; do
                sleep 2
              done
              echo "Postgres is up!"

      containers:
        - name: web
          image: "{{ .Values.web.image.repository }}:{{ .Values.web.image.tag }}"
          imagePullPolicy: {{ .Values.web.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.web.service.targetPort }}
          envFrom:
            - secretRef:
                name: {{ .Release.Name }}-secrets
          env:
            - name: NODE_ENV
              value: {{ .Values.web.env.nodeEnv | quote }}

